<form class="login-form">
  <input
    type="text"
    class="login-box"
    id="username-login"
    placeholder="Username"
  />
  <input
    type="password"
    class="login-box"
    id="password-login"
    placeholder="Password"
  />
  <button class="submit-btn" id="login-send">Log In</button>
</form>

<script src="/js/login.js"></script>