<form class="login-form">
  <input
    type="text"
    class="login-box"
    id="username-signup"
    placeholder="Username"
  />
  <input
    type="password"
    class="login-box"
    id="password-signup"
    placeholder="Password"
  />
  <button class="submit-btn" id="create-user">Create Account</button>
</form>
<script src="/js/signup.js"></script>